/* $Id$ */

#gmap {
  margin: 2em;
}

#gmap p {
    margin: auto;
    margin-bottom: 25px;
}

#gmap dl,
#gmap-admin dl {
    float: left;
}
    
#gmap dl dt,
#gmap-admin dl dt {
    clear: both;
    margin: 3px;
    float: left; 
    font-weight: normal;
    width: 200px;
}

#gmap dl dd,
#gmap-admin dl dd {
    margin: 3px 0;
    float: left;
}

#gmessage {
    text-align: left;
}

#map {
    margin: auto; 
    float: left;
}

#mapsidebar {
    float: left;
    margin-left: 2em;
}

#mapsidebar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*
 * clearfix solution
 *
 */

.gmclearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.gmclearfix {display: inline-table;}

/* Hides from IE-mac \*/
* html .gmclearfix {height: 1%;}
.gmclearfix {display: block;}
/* End hide from IE-mac */

/* Overflow-Methode zum Clearen der Float-Umgebungen */
.gmfloatbox { 
    overflow:hidden; 
}

#gmap-admin {
  /* do not delete me */
}

#gmap-admin h2 {
    margin-top: 1.2em;
}

#gmap-admin .footer {
    font-size: 0.8em;
    text-align: center;
    margin-top: 1em;
}

#gmap-admin table tbody tr {
 }

#gmap-admin table thead tr th,
#gmap-admin table tbody tr td {
    padding: 0 10px;
    text-align: center;
}
